* {
  font-weight: 500;
}

.header {
  position: relative;
  width: 100vw;
  height: 80px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.246);
  z-index: 10;
  left: 0;
  right: 0;
  background-color: white;
}

.menu-toggle {
  position: static;
  left: 1rem;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.logo {
  position: absolute;
  height: clamp(15px, 10vw, 39px);
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo img {
  height: 100%;
  width: auto;
  display: block;
}

.nav-links {
  display: flex;
  flex: 1;
  margin-left: 1.5rem;
  justify-content: flex-start;
}

/* Pantallas pequeñas */
@media (max-width: 1024px) {
  .menu-toggle {
    display: block;
  }

  .logo {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    padding: 1rem;
    margin-left: 0;
  }

  .nav-links.open {
    display: flex;
    padding: 0rem;
    border: 1px solid rgba(0, 0, 0, 0.42);
    border-radius: 6px;
  }

  .nav-links.open a,
  .nav-links.open .dropdown-label,
  .nav-links.open .dropdown-list li {
    font-size: 1.5rem;
  }

  .dropdown-list.open {
    display: block;
    padding-left: 1rem;
    position: relative;
    width: 100%;
    background-color: rgb(245, 245, 245);
  }

  .dropdown-list.open::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 2px;
    border-radius: 2px;
  }

}

/* Pantallas grandes */
@media (min-width: 1024px) {
  .menu-toggle {
    display: none;
  }

  .logo {
    position: static;
    left: 1rem;
    transform: none;
  }

  .nav-links {
    position: static;
    flex-direction: row;
    width: auto;
    height: 100%;
  }
}

.dropdown {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.dropdown-label {
  color: #4d4e68;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  font-size: clamp(12px, 1.5vw, 20px);
  cursor: pointer;
  user-select: none;
  transition: color 300ms ease-in;
}

.dropdown-label:hover {
  color: #5063c1;
}

.dropdown-label:hover span {
  text-decoration: none;
}

.dropdown-label mat-icon {
  display: inline-flex;
  font-size: 1em;
  line-height: inherit;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: auto;
  margin-right: -4px;
}


.dropdown-label:hover mat-icon {
  text-decoration: none;
}

.dropdown-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  border: 1px solid #ccc;
  min-width: 150px;
  width: max-content;
  z-index: 20;
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown-list.open {
  display: block;
}

.dropdown-list li {
  color: #4d4e68;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: clamp(12px, 1.5vw, 20px);
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: color 300ms ease-in;
}

.dropdown-list li:hover {
  color: #5063c1;
}

.cart-button {
  position: absolute;
  right: 10px;
  font-size: 24px;
}

.cart-button:hover {
  color: #5063c1;
}

.nav-links a {
  color: #4d4e68;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
  font-size: clamp(12px, 1.5vw, 20px);
  transition: color 300ms ease-in;
}

.nav-links a:hover {
  color: #5063c1;
}

.cart-badge {
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: rgb(230, 46, 21);
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 10px;
  z-index: 10;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 650;
  font-style: normal;
  text-align: center;
}

