<footer>
    <button (click)="openLink('https://www.instagram.com/easymarketing.argentina/')" aria-label="Ir a otra página">
        <img src="socialmedia/icons8-instagram-48.png" alt="Icono" style="width:24px; height:24px;">
    </button>
    <button (click)="openLink('https://www.tiktok.com/@easymarketing.argentina')" aria-label="Ir a otra página">
        <img src="socialmedia/icons8-tiktok-50.png" alt="Icono" style="width:24px; height:24px;">
    </button>
    <button (click)="openLink('https://wa.me/542215793593')" aria-label="Ir a otra página">
        <img src="socialmedia/icons8-whatsapp-48.png" alt="Icono" style="width:24px; height:24px;">
    </button>
</footer>