<div>
    <label for="serviceId">Service Id:</label>
    <input id="serviceId" type="text" [(ngModel)]="serviceId" placeholder="1234" />
  </div>
  <div>
    <label for="quantity">Cantidad por reel:</label>
    <input id="quantity" type="text" [(ngModel)]="quantity" placeholder="10" />
  </div>
  <div>
    <label>
      <input type="radio" name="opcion" value="HONEST" [(ngModel)]="provider" />
      HONESTSMM
    </label>
    <label style="margin-left: 20px;">
      <input type="radio" name="opcion" value="SMMCOST" [(ngModel)]="provider" />
      SMMCOST
    </label>
  </div>
    
  <div class="container mt-4" style="max-width: 420px;">
    <div class="row">
      <div *ngFor="let reel of reelClips" class="col-4 col-sm-4 col-md-4 mb-4 d-flex justify-content-center">
        <div
          class="selection-card"
          (click)="toggleSelection(reel.url)"
          [ngClass]="{'border-primary': isSelected(reel.url)}"
        >
          <input type="checkbox" 
            class="card-check"
            [checked]="isSelected(post.url)" 
            tabindex="-1"
            readonly />
          <img
            [src]="getImageUrl(reel.picUrl)"
            alt="Imagen"
            class="d-block mx-auto"
            style="width: 115px; height: 115px; object-fit: contain;"
          />
        </div>
      </div>
    </div>
    
    <div class="text-center mt-4" *ngIf="hasMore()">
      <button class="btn btn-custom" (click)="loadClips()">Cargar más</button>
    </div>
  </div>
  
  <button class="btn btn-custom" (click)="createPurchase()">Añadir</button>
