<div class="welcome-container">
    <app-background></app-background>
    <div class="welcome-message">
        <h1>
            ¡Compra seguidores de Instagram, TikTok y otras interacciones 
            <span class="gradient-text">en minutos!</span>
        </h1>
        <p style="font-weight: bold;">Más seguidores, más ventas, más oportunidades.</p>
        <p>🚀 Aumentá tu autoridad en segundos y hacé que tu perfil hable por vos. 💼 Ideal para emprendedores, influencers, artistas y marcas personales. 📲 Seguidores, likes, visualizaciones y comentarios personalizados con la mejor calidad del mercado. 🔒 Sin contraseñas. Sin riesgos. Con garantía.</p>
        <button class="main-button" routerLink="/servicios">Mejorá tu perfil ahora</button>
    </div>
</div>
<hr style="margin: 0rem 0 0rem calc(-50vw + 50%); width: 100vw; border: 2px solid #616161;">
<app-services></app-services>
