<div class="layout">
  <app-promotion></app-promotion>
  <app-header></app-header>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
  <app-social-footer></app-social-footer>
  <app-footer></app-footer>
  <button (click)="openLink('https://wa.me/542215793593')" 
          style="
            position: fixed;
            bottom: 80px;
            right: 25px;
            z-index: 9999;
            background-color: #25D366;
            border: none;
            border-radius: 50%;
            padding: 8px;
            cursor: pointer;
            box-shadow: 0 2px 6px rgba(0,0,0,0.3);
            transition: transform 0.2s ease-in-out;
          "
          onmouseover="this.style.transform='scale(1.08)'"
          onmouseout="this.style.transform='scale(1)'">
    <img src="whatsapp/icons8-whatsapp-48.png" alt="Icono" style="width:36px; height:36px;">
  </button>
</div>