<div *ngIf="!isLoading; else loading" class="details-container">
    <div *ngIf="mediaVisible" class="media-container card">
        <div class="title">
            <span>{{ 'SELECCIONAR ' + (product?.type?.toUpperCase()) + 'S' }}</span>
        </div>
        <label class="toggle-label">
            <span>{{ 'Distribución de cantidades automática: ' }}</span>
            <mat-slide-toggle [(ngModel)]="isAutoDistribution"></mat-slide-toggle>
        </label>
        <div class="media-grid">
            <div class="media-item" *ngFor="let m of media" (click)="toggleSelection(m.url)" [class.selected]="isSelected(m.url)">
                <input type="checkbox" class="card-check" [checked]="isSelected(m.url)" tabindex="-1" readonly />
                <img [src]="getImageUrl(m.picUrl)" alt="Imagen" />
                <div class="media-input" *ngIf="isSelected(m.url)">
                    <ng-container *ngIf="!isAutoDistribution; else autoValue">
                        <input #manualQtyInput [attr.data-url]="m.url" type="number" [min]="quality?.minimum" [value]="0" (click)="$event.stopPropagation()" />
                    </ng-container>
                    <ng-template #autoValue>
                        <span>{{ '+' + getAutoDistributedValue() + ' ' + product?.product?.toLowerCase() }}</span>
                    </ng-template>
                </div>
            </div>
        </div>
        <div>
            <button *ngIf="hasMore()" class="action-button" (click)="loadMedia()" [disabled]="isLoadingMedia">
                <ng-container *ngIf="!isLoadingMedia; else loading">
                    Cargar más
                </ng-container>
                <ng-template #loading>
                    <img src="loading.gif" alt="Cargando..." style="height: 20px;" />
                </ng-template>
            </button>
        </div>
    </div>
    <div *ngIf="mediaVisible" class="checkout" [ngClass]="{'small-window': mediaVisible}">
        <button class="action-button" [disabled]="isDisabled()" (click)="addToCart()">Añadir al carrito</button>
    </div>
    <div class="profile-container card" [ngClass]="{'big-window': mediaVisible}">
        <div class="user-info">
            <div *ngIf="isInstagram"><img [src]="getImageUrl(profilePicUrl)" alt="Foto de perfil" class="profile-pic" /></div>
            <div class="username-display">
                <span>{{'@' + orderData.username }}</span>
                <a [routerLink]="['/ordenes/ingresar-datos']">Cambiar usuario</a>
            </div>
        </div>
        <div class="order-details">
            <img src="/socialmedia/icons8-heart-48.png" [ngStyle]="{ filter: logoFilter }"/>
            <span>{{ quantity?.quantity + ' ' + product?.name?.toLowerCase() }}</span>
            <a [routerLink]="['/ordenes/ingresar-datos']">Cambiar</a>
            <span class="price">{{ '$' + (quantity?.withDiscount ? quantity?.finalPrice : quantity?.basePrice) }}</span>
        </div>
        <div class="checkout">
            <button class="action-button" [disabled]="isDisabled()" (click)="addToCart()">Añadir al carrito</button>
        </div>
    </div>
</div>
<ng-template #loading>
    <img src="loading.gif" alt="Cargando..." style="height: 50px;" />
</ng-template>
