footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 0 1rem;
  font-size: small;
  border-top: 1px solid rgba(0, 0, 0, 0.036);
  gap: 0;
  position: relative;
  z-index: 11;
  transform: translate(0, 0);
  background-color: rgba(255, 255, 255, 0.887);
}

footer p {
  margin: 3px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}
