<div class="product-container">
  <h1>{{ "Comprá " + product.name + " con " }}
    <span class="gradient-text">entrega inmediata.</span>
  </h1>

  <div class="tabs">
    <button 
      *ngFor="let quality of qualities; let i = index"
      (click)="setTab(i)"
      [class.active]="selectedTab === i"
      [ngClass]="[i !== 0 ? getTabClass(i) : '', selectedTab === i  ? getTabBorderClass() : '']"
    >
      {{ quality.name }}
    </button>
  </div>

  <div class="tab-content" *ngIf="qualities?.length" [ngClass]="getTabBorderClass()">
    <div *ngFor="let quality of qualities; let i = index">
      <div *ngIf="selectedTab === i">
        <div class="quantities" *ngIf="quality.children && selectedQuantity; else noQuantities">
          <div *ngFor="let group of quality.children">
            <ng-container *ngIf="group.nodeType === 'quantity-group'">
              <div class="quantity-card" *ngFor="let quantity of group.children; let i = index" [class.selected]="selectedQuantity.refId === quantity.refId" [ngClass]="getFontClass()" (click)="selectQuantity(quantity)">
                <div class="card" [ngClass]="[selectedQuantity.refId === quantity.refId ? getCardClass() : '']">
                  <div>
                    <p>{{ getQuantity(quantity) }}</p>
                    <small *ngIf="i === 0">{{ getType(product) }}</small>
                    <small *ngIf="i !== 0 && isWithDiscount(quantity)">{{ getDiscount(quantity) }}</small>
                  </div>
                </div>
              </div>
              <div class="selected-price" *ngIf="selectedQuantity">
                <span *ngIf="!selectedQuantity.withDiscount">
                    <span class="sign">$</span>{{ selectedQuantity.basePrice }}
                </span>
                <span *ngIf="selectedQuantity.withDiscount" class="price-discounted">
                    <span class="sign">$</span>{{ selectedQuantity.finalPrice }}
                    <span class="sign-small">$</span>
                    <span class="base-price-old">{{ selectedQuantity.basePrice }}</span>
                </span>
              </div>
              <button class="buy-button" [ngClass]="getTabClass(selectedTab)" (click)="buy() ">Comprar ahora</button>
              <small *ngIf="isWithDiscount(selectedQuantity)" class="saving" [ngClass]="getSavingClass()">{{ getSaving(selectedQuantity) }}</small>
            </ng-container>
          </div>
        </div>
        <ng-template #noQuantities>
            <p>No hay cantidades disponibles.</p>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="quality-descriptions-wrapper">
    <div class="quality-descriptions">
        <div *ngFor="let quality of qualities; let i = index" class="description-card" [class.active]="selectedTab === i" [ngClass]="selectedTab === i ? getTabBorderClass() : ''" (click)="setTab(i)">
            <div class="tabs"><button class="desc-button" [class.first-tab]="i === 0" [ngClass]="[i !== 0 ? getTabClass(i) : '', ]">{{ quality.name }}</button></div>
            <p class="description-text">{{ getDescription(quality) }}</p>
        </div>
    </div>
  </div>
    
</div>