.top-banner {
    width: 100%;
    height: auto;
    background: 
        radial-gradient(circle, rgba(59, 14, 94, 0.633) 35%, transparent 100%),
        url('/browser/bgpattern2.jpg');
    background-size: 100% auto; 
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
.top-banner img {
    width: 700px;
    height: auto;
    display: block;
    margin-top: 37px;
    margin-bottom: 37px;
}

.bar {
    background-color: rgb(104, 33, 149);
}

