.full-container {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top, 
    rgba(71, 94, 119, 0.785) 50%, 
    rgba(35, 47, 59, 0.785) 100%);
    background-attachment: local;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}


.top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background-image: linear-gradient(to left, 
    rgba(71, 94, 119, 0.785) 1%, 
    transparent 100%);
    color: rgb(48, 48, 59);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.top-bar text {
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.164);
}

.container-box{
    color: #363438;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, 
    rgba(255, 255, 255, 0.718) 50%, 
    rgba(255, 255, 255, 0.35) 100%);
    background-color: #cbd0d400;
    overflow: hidden;
}

ul.tree-root {
    list-style: none;
    padding: 0;
}

.tree-root {
    background-color: rgba(169, 181, 194, 0.314);
    border: 0.5px solid #1d20240f;
    width: 95%;
    margin: 2rem;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.208);
    overflow: hidden;
}

.node {
    display: flex;
    align-items: center;
    background-image: inherit;
    width: 100%;
}

.btn-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    background: rgba(169, 181, 194, 0.387);
    background-image: linear-gradient(to left, 
    rgba(169, 181, 194, 0.815) 10%, 
    transparent 100%);
    color: #3d3939;
    -webkit-text-stroke: 0.56px rgb(231, 219, 219);
    font-weight: 700;
    border-radius: 32px;          
    font-size: 27px;     
    cursor: pointer;
    transition: background-color 0.6s; 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.662);
}

.btn-admin:hover {
    background: rgba(169, 181, 194, 0.815);
    background-image: linear-gradient(to left, 
    rgba(71, 94, 119, 0.275) 10%, 
    transparent 100%);
    font-weight: 700;
    border: 1px solid #867f86;
}

.btn-admin:active {
    background-color: rgba(71, 94, 119, 0.785);
    font-weight: 700;
    color: #bcb6b600;
    border: none;
    transform: scale(0.98);
}

.actions {
    width: 98%;
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.editing-actions {
    width: 98%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.node-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editor-box {
    margin: 1rem;
    font-size: 1.5vw;
    color: #3d3939;
    padding: 8px;
    text-shadow: 0 0px 10px #ebe6e6;
}

label {
    margin: 1rem;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0 10px;
    vertical-align: middle; 
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}
  
.form-row label {
    width: 150px;
    font-weight: bold;
}
  
.form-row input,
.form-row select {
    flex: 1;
    background-color: #ffffff3a;
}

.purchase-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.purchase-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.purchase-data > h3,
.purchase-data > p {
    margin: 0;
    padding: 0;
}

.purchase-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.purchase-table th, .purchase-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.purchase-table thead {
  background-color: #f5f5f5;
  font-weight: bold;
}

.warning {
    background-color: rgba(190, 127, 140, 0.815);
    background-image: linear-gradient(to left, 
    rgba(173, 104, 118, 0.815) 10%, 
    transparent 100%);
}

.warning:disabled {
    background-color: rgba(189, 189, 189, 0.815);
    background-image: linear-gradient(to left, 
    rgba(138, 138, 138, 0.815) 10%, 
    transparent 100%);
}

.purchase-search, .purchase-cancel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

input.id-input {
    text-align: center;
    width: 20ch;
}

input.id-input::-webkit-outer-spin-button,
input.id-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
